* body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(252, 250, 234);
    
}

.container{
    width: 350px;
    margin: 100px auto;
    background-color: rgb(248, 248, 244);
    padding: 30px;
    border-radius: 8px;

    box-shadow: 0px 0px 15px;
    text-align: center;

}

.title{
    margin-bottom: 20px;

}

.form{
    text-align: left;

}

.label{
    display: block;
    margin-top: 10px;

}

.input{
    width: 95%;
    padding: 8px;
    margin: 0px;
    font-size: 14px;

}

.btn{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(74, 124, 216);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;

}

.text{
    margin-top: 10px;

}

.link{
    color: #09c275;
    text-decoration: none;
}